*{
box-sizing: border-box;
}
body{
    background-color: rgb(89, 104, 133);
}
div{
text-align: center;
height: 15%;
width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
background-color: white;
border-radius: 10px;
}
img{
    display: block;
    height: 95%;
    width: 95%;
    padding: 10px 5px 0px 5px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
.p1{
    font-size: large;
    color: black;
}
.p2{
    font-size: medium;
    color:rgb(99, 99, 99);
}